<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="./static/themes/logo/admin.png" type="image/x-icon">
	<title>Admin Only</title>
	<link rel="stylesheet" type="text/css" href="./static/additem.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		{% if error != 0 %}
            <div id="alert" class="alert show showAlert">
                <span class="fas fa-check-circle" ></span>
                <span class="msg">{{error}}</span>
                <div class="close-btn" id= "close-btn">
                    <span class="fas fa-times"></span>
                </div>
            </div>
        {%endif%}
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Add Items</h2>
				<form action="/uploader" enctype="multipart/form-data" method="POST">
					<input type="file" name="file" class="field">
					<input type="name" name="name" class="field" placeholder="Food name">
					<input type="price" name="price" class="field" placeholder="Price">
					<textarea placeholder="Message" class="field"></textarea>
					<button class="btn">+ Add</button>
					<hr>
				</form>
				<a href="/admin"><button class="btn">Back</button></a>
			</div>
		</div>
	</div>
</body>
</html>